<template>
  <div class="login-container">
    <div class="login-form">
      <img
        class="logo"
        src="../assets/stockantsLogo.png"
        alt="Organization Logo"
      />

      <h2 class="signin-heading">SIGN IN</h2>
      <div class="small-text">Login on StockAnts using your email address</div>

      <form @submit.prevent="login">
        <div class="input-group">
          <label for="email">EMAIL ADDRESS</label>
          <input type="email" id="email" v-model="email" required />
        </div>

        <div class="input-group">
          <label for="password">PASSWORD</label>
          <input type="password" id="password" v-model="password" required />
          <!-- <el-icon><View /></el-icon> -->
        </div>

        <!-- <div class="remember-checkbox">
          <input type="checkbox" id="remember" v-model="remember" />
          <label for="remember" style="margin-left: 7px"
            >Remember password</label
          >
        </div> -->
        <button class="signin-button" type="submit">SIGN IN</button>
      </form>
      <a class="forgot-password" href="#">Forgot password?</a>
    </div>
  </div>
</template>

<script>
import { serverAddr } from "@/networkConfig";
import { ElNotification } from "element-plus";

export default {
  data() {
    return {
      email: "",
      password: "",
      remember: false,
      showForgotPassword: false,
      forgotPasswordEmail: "",
    };
  },

  // Remember password functionality email & password stored in localStorage

  // created() {
  //   const rememberedEmail = localStorage.getItem('rememberedEmail');
  //   const rememberedPassword = localStorage.getItem('rememberedPassword');

  //   if (rememberedEmail && rememberedPassword) {
  //     this.email = rememberedEmail;
  //     this.password = rememberedPassword;
  //     this.remember = true;
  //   }
  // },

  methods: {
    async login() {
      try {
        const response = await serverAddr.post("/admin_dashboard/admin_login", {
          username: this.email,
          password: this.password,
        });
        console.log("API Response:", response.data);

        if (response.data && response.data.status) {
          ElNotification({
            // NOtification for login successfull
            title: "Successful",
            message: response.data.validation,
            type: "success",
          });

          // // Remember password
          // if (this.remember) {
          //   localStorage.setItem('rememberedEmail', this.email);
          //   localStorage.setItem('rememberedPassword', this.password);
          // } else {
          //   localStorage.removeItem('rememberedEmail');
          //   localStorage.removeItem('rememberedPassword');
          // }

         // Save profile data in local storage
        const profileData = response.data.profile_data.profile_data;   // Accessing nested object
        localStorage.setItem('profileData', JSON.stringify(profileData));


          this.$router.push("/dashboard"); // After login successfull redirect to dashboard component
        } else {
          ElNotification({
            // NOtification for login failed
            title: "Failed",
            message: response.data.validation,
            type: "Warning",
          });
        }
      } catch (error) {
        // console.error("API call error:", error);
        // console.log("API Response Error:", error.response);
        // alert("An error occurred while trying to login");
      }
    },

    resetPassword() {},
  },
};
</script>

<style scoped>
.login-container {
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif, monteserrat;
}

.login-form {
  padding: 20px;
  width: 300px;
  text-align: center;
  color: #777;
}

.logo {
  width: 275px;
  height: auto;
}

.signin-heading {
  font-size: 25px;
  height: 22px;
  margin-top: 0px;
  margin-bottom: 7px;
  color: black;
  letter-spacing: 2px;
}

.small-text {
  font-size: 14px;
  margin-bottom: 35px;
  font-weight: lighter;
  margin-left: 0px;
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-size: smaller;
  font-weight: bolder;
  margin-bottom: 5px;
  margin-left: 7px;
  color: rgb(11, 10, 10);
}

input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 2px;
  border-bottom: 2px solid #777;
  outline: none;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  align-items: center;
  margin-left: 7px;
  margin-bottom: 5px;
}
.remember-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  margin-left: 65px;
  font-size: medium;
  font-weight: light;
  color: #777;
}
.remember-checkbox label {
  color: black;
  font-weight: lighter;
}
.signin-button {
  background-color: rgb(51, 69, 141);
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 13px 115px;
  cursor: pointer;
  margin-left: 0px;
  font-size: smaller;
  font-weight: bolder;
}
.forgot-password {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #777;
  font-size: small;
  font-weight: lighter;
}
</style>
