<template>
    <div class="NoData">
        <div class="text-center no-data-container">
            No data available
        </div>
    </div>
</template>
<script>
export default {
    name: 'NoData'
}
</script>

<style lang="scss" scoped>
@import "../css/variable.scss";
@import "../css/common.scss";

.no-data-container{
    max-width: 300px;
    border: 1px solid black;
    padding: 8px;
    margin: 50px auto;
    color: black;
    font-size: 13px;
    font-weight: 300;
    // width: 300px;
    border-radius: 6px;
}
</style>
