<template>
  <div class="container">
    <div class="navbar">
      <NavBar />
    </div>
    <div class="PlanManagement" v-loading="is_tableData_loading">
      <div class="user-heading" style="text-align: left">
        <h2 style="font-weight: 600; font-size: larger">Plan Management</h2>
      </div>

      <!-- <div class="filter-container"> -->
        <div class="select-filter">
          <el-select
            v-model="selectedProfession"
            clearable
            style="width: 250px"
            placeholder="Select Profession"
            @change="getPlanManagementData()"
            class="filter-input"
          >
            <el-option
              v-for="item in professionOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        <!-- </div> -->

        <!-- <div class="input-filter"> -->
          <el-input
            v-model="searchQuery"
            clearable
            style="width: 250px"
            class="w-50 m-2"
            placeholder="Search"
            @change="getPlanManagementData()"
          />
        </div>
      <!-- </div> -->

      <!-- <div class="line"> -->
        <!-- <div v-if="tableData.length === 0"> -->
      <div class="table-responsive">
        <table style="width: 100%">
          <thead>
            <tr>
              <th>ID</th>
              <th>Full Name</th>
              <th>Plan Name</th>
              <th>Purchase Date</th>
              <th>Next Due Date</th>
              <th>Amount</th>
              <th>Status</th>
              <!-- <th>Action</th> -->
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(row, index) in tableData"
              :key="index"
              class="table-row"
            >
              <td style="width: 70px">{{ row.user_id }}</td>
              <td style="width: 400px">{{ row.user__full_name || "-" }}</td>
              <td style="width: 250px">{{ row.plan__name }}</td>
              <td style="width: 350px">{{ row.purchase_date }}</td>
              <td style="width: 350px">{{ row.next_due_date }}</td>
              <td style="width: 100px">{{ row.plan__amount || "-" }}</td>
              <td>{{ row.is_active }}</td>

              <!-- Below Edit, Delete, Save actions -->

              <!-- <td>
              <div class="icons" style="display: flex">
                <div style="margin: 1px">
                  <i
                    class="el-icon-edit"
                    style="margin-right: 10px"
                    @click="editDetails(index)"
                  ></i>
                </div>
                <div style="margin: 1px">
                  <i
                    class="el-icon-collection"
                    style="margin-right: 10px"
                    :class="{ 'disabled-icon': !row.is_modified }"
                    @click="saveRow(index)"
                  ></i>
                </div>
                <div style="margin: 1px">
                  <i
                    class="el-icon-delete"
                    style="margin-right: 10px"
                    @click="deleteRow(index)"
                  ></i>
                </div>
              </div>
            </td> -->
            </tr>

          </tbody>
        </table>
      </div>
        <NoData style="padding: 20px;" v-if="!tableData.length && !is_tableData_loading"></NoData>
      <!-- </div> -->
       
      <!-- </div> -->
      <!-- <div class="line-2"></div> -->
      <!--Code for Pagination -->
      <div class="pagination" style="display: flex; justify-content: center;">
        <el-pagination
          v-if="totalEntries > 0"
          :current-page="currentPage"
          :page-sizes="[10, 20, 30, 50]"
          :page-size="10"
          :total="totalEntries"
          @current-change="goToPage"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
//import { Search } from "@element-plus/icons-vue";
import NavBar from "@/components/NavBar.vue";
import { serverAddr } from "@/networkConfig";
import moment from 'moment';
import NoData from '@/views/NoData.vue';
import { ElLoading } from "element-plus";

const input = ref("");
export default {
  components: { NavBar, NoData },
  data() {
    // Define profession options
    const professionOptions = [
      { value: "Retail Investor", label: "Retail Investor" },
      { value: "Broker", label: "Broker" },
      { value: "Market Expert", label: "Market Expert" },
      { value: "Analyst", label: "Analyst" },
      { value: "Financial Advisor", label: "Financial Advisor" },
    ];

    return {
      tableData: [],
      searchQuery: "",
      currentPage: 1,
      totalEntries: 0,
      selectedProfession: "",
      professionOptions,
      is_tableData_loading:false,
       //loadingInstance: null, for loader
    };
  },

  watch: {
    selectedProfession() {
      this.currentPage = 1; // Reset to first page when profession changes
      this.getPlanManagementData(); // Fetch data for the new page
    },
  },
  mounted() {
    this.getPlanManagementData();
  },
  methods: {
    getPlanManagementData() {
      this.is_tableData_loading = true; // Start the loading animation
      //this.loadingInstance = ElLoading.service(); // Start the loading animation

      var url = "";
      if (this.selectedProfession.length) {
        url = `user/admin/v1/subcribe_plan_details?page_number=${this.currentPage}&page_per_entries=10&profession=${this.selectedProfession}&q=${this.searchQuery}`;
      } else {
        url = `user/admin/v1/subcribe_plan_details?page_number=${this.currentPage}&page_per_entries=10&q=${this.searchQuery}`;
      }

      serverAddr
        .get(url)
        .then((response) => {
          console.log(response.data);
          this.tableData = response.data.data.map(row => {
        return {
          ...row,
          purchase_date: moment(row.purchase_date).format('DD-MM-YYYY HH:mm:ss'),
          next_due_date: moment(row.next_due_date).format('DD-MM-YYYY HH:mm:ss')
        };
      });
          this.totalEntries = response.data.pagination_dict.total_entries;
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => {
          this.is_tableData_loading = false; // close the loading animation
          //this.loadingInstance.close(); // Close the loading animation
        });
    },

    goToPage(page) {     
      console.log(page);
        this.currentPage = page;
        this.getPlanManagementData();          // Fetch data for the new page
    },
  },
};
</script>

<style>
.body {
  background-color: rgb(123, 116, 116);
  font-family: "Poppins", sans-serif;
}

.PlanManagement {
  border-radius: 15px;
  border-spacing: 0;
  margin-top: 85px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 5px 20px 20px 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  /* height: 650px; */
}

  .input {
  margin-left: 10px;
}

.table-responsive {
  overflow-x: auto;
  border-radius: 13px;
}

.table-row {
  border: 1px solid #e0e0e0;
}

.table-row:hover {
  background-color: #f0f0f0;
}

.icon {
  cursor: pointer;
  margin-left: 5px;
}

thead {
  height: 40px;
  background-color: rgb(240,235,243);
  margin-bottom: 50px;
  margin: 0px;
}

th {
  padding-left: 10px;
  padding-right: 20px;
}

td {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 13px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  border-bottom: 1px solid #e0e0e0;
  padding: 8px;
}

table tr:last-child td,
table tr:last-child th {
  border-bottom: none;
}

.line {
  border-bottom: 3px solid rgb(243, 233, 242);
  border-top: 3px solid rgb(243, 233, 242);
  margin-top: 10px;
  padding-top: 3px;
  /* margin-bottom: 10px; */
  /* padding-bottom: 3px; */
  /* height: 445px; */
}

.pagination {
  margin-top: 20px;
  margin-right: 40px;
  text-align: center;
}

.pagination button {
  margin: 0 5px;
}

.loader {
  text-align: center;
  font-size: larger;
  margin-top: 20px;
}

     /* css for filter container  */
.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin-bottom: 10px;
}
.select-filter {
  justify-content: end;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-right: 10px;
}

.input-filter {
  margin-bottom: 10px;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .filter-container {
    flex-direction: column;
  }

  .select-filter,
  .input-filter {
    width: 100%;
    margin-bottom: 10px;
    margin-left:10px
  }
}

@media screen and (max-width: 768px) {
  /* .PlanManagement {
    margin-left: 10px;
    margin-right: 10px;
  } */

  .table-responsive {
    overflow-x: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    white-space: nowrap;
  }

  th {
    background-color: #f2f2f2;
  }

  th,
  td {
    padding: 8px;
  } 
}

</style>
