<template>
  <!-- <el-icon type="primary" style="margin-left: 16px" @click="drawer = true">
    <Expand />
  </el-icon> -->

  <el-drawer class="drawer" v-model="drawer" title="Drawer Title" :with-header="false" direction="ltr" size="300px">
    <el-menu>
         
      <el-menu-item index="hotcontrols" @click="closeDrawer">
        <router-link to="/hotcontrols" class="el-menu-item">HOTCONTROLS</router-link>
      </el-menu-item>

      <el-menu-item index="dashboard" @click="closeDrawer">
        <router-link to="/dashboard" class="el-menu-item">DASHBOARD</router-link>
      </el-menu-item>

      <el-sub-menu index="management">
        <template #title>
          <span class="submenu-title" @click="closeDrawer">MANAGEMENT</span>
        </template>
        <el-menu-item index="user-management" @click="redirectToUserManagement">
          <span>USER MANAGEMENT</span>
        </el-menu-item>
        <el-menu-item index="plan-management" @click="redirectToPlanManagement">
          <span>PLAN MANAGEMENT</span>
        </el-menu-item>
      </el-sub-menu>
    </el-menu>
  </el-drawer>
</template>

<script>

export default {
  name: "DrawerComponent",
  data() {
    return {
      drawer: false,
    };
  },
  methods: {
    
    closeDrawer() {
      this.drawer = false;
    },

    redirectToUserManagement() {
      this.$router.push("/user-management");
      this.closeDrawer();
    },
    redirectToPlanManagement() {
      this.$router.push("/plan-management");
      this.closeDrawer();
    },
  },
};
</script>

<style lang="scss" scoped>
.sidebar {
  width: 250px;
  height: 100%;
  background-color:white;
  color: white;
  padding: 20px;
  padding-top:0px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.show {
  transform: translateX(0);
}

.logo img {
  height: 55px;
  width: 180px;
  margin-right: 60px;
  margin-top:10px;
  margin-bottom:0px  
}

.account {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.dropdown {
  margin-top: 5px;
}

.dropdown-item {
  font-size: 14px;
  padding: 5px 0;
  cursor: pointer;
}

.dropdown-item:hover {
  color: #ff6f61;
}

.el-menu-item {
  font-size: 16px;
  margin: 10px 0;
}

.el-submenu__title {
  font-size: 16px;
  font-weight: bold;
}

.submenu-title {
  font-size: 18px;
  font-weight: bold;
}

.el-menu-item.is-active {
  background-color: #444;
}

.el-drawer.is-horizontal {
  animation: elDrawerOpenRTL 0.3s; 
}

.custom-padding .el-drawer__body {
    padding: 0;
  }
@keyframes elDrawerOpenRTL {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }}

</style>

<style lang="scss">
  .el.drawer {
    width:260px
  }
</style>

