<template>
  <div class="container">
    <div class="navbar">
      <NavBar />
    </div>
    <div class="UserManagement" v-loading="is_tableData_loading">
      <div class="user-heading" style="text-align: left">
        <h2 style="font-weight: 600; font-size: larger">User Details</h2>
      </div>
     
      <!-- <div class="filter-container"> -->
      <div class="select-filter">
    <div class="block" style="margin-right:5px; margin-bottom:5px">
    <el-date-picker
      v-model="selectedDateRange"
      type="daterange"
      unlink-panels
      range-separator="To"
      start-placeholder="User Onboarde From"
      end-placeholder="User Onboarde To "
      style="width: 350px;"
      @change="getUserData">
    </el-date-picker>
  </div>
        
    <div class="block" style="margin-right:5px; margin-bottom:5px">
        <el-select
          v-model="selectedProfession"
          clearable
          style="width: 160px"
          placeholder="Select Profession"
          class="filter-input"
          @change="getUserData()"
        >
          <el-option
            v-for="item in professionOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
       </div>
        <!-- </div> -->
        <div class="block">
        <!-- <div class="input-filter"> -->
        <el-input
          v-model="searchQuery"
          clearable
          style="width: 170px"
          class="input"
          placeholder="Search"
          @change="getUserData()"
        />
      </div>
      </div>
      <!-- </div> -->

      <div class="table-responsive">
        <!-- <div class="line"> -->

        <table style="width: 100%">
          <thead>
            <tr>
              <th>ID</th>
              <th>Full Name</th>
              <th>Profession</th>
              <th>Source</th>
              <th>Mobile Number</th>
              <th>Email</th>
              <!-- <th>Action</th> -->
            </tr>
          </thead>

          <tbody>
            <tr
              v-for="(row, index) in tableData"
              :key="index"
              class="table-row"
            >
              <td style="width: 70px">{{ row.id }}</td>
              <td style="width: 400px">{{ row.full_name || "-" }}</td>
              <td style="width: 250px">{{ row.profession || "-" }}</td>
              <td style="width: 150px; text-transform: capitalize">
                {{ row.source }}
              </td>
              <td style="width: 200px">{{ row.mobile_no || "-" }}</td>
              <td style="width: 350px">{{ row.email }}</td>

              <!-- Below Edit, Delete, Save actions -->

              <!-- <td>
                  <div class="icons" style="display: flex">
                    
                    <div style="margin: 1px">
                      <el-icon
                        :svg-class="['el-icon-edit']"
                        style="margin-right: 1px"
                        @click="editDetails(index)"
                      >
                        <Edit />
                      </el-icon>
                    </div>

                    
                    <div style="margin: 1px">
                      <el-icon
                      :svg-class="[
                        'el-icon-collection',
                        { 'disabled-icon': !row.is_modified },
                      ]"
                      style="margin-right: 1px"
                      @click="saveRow(index)"
                    >
                      <Save />
                    </el-icon>
                    </div>

                    
                    <div style="margin: 1px">
                      <el-icon
                        class="el-icon-delete"
                        style="margin-right: 1px"
                        @click="deleteRow(index)"
                      >
                        <Delete />
                      </el-icon>
                    </div>
                  </div>
                </td> -->
            </tr>
          </tbody>
        </table>

        <NoData
          style="padding: 20px"
          v-if="!tableData.length && !is_tableData_loading"
        ></NoData>
        <!-- </div> -->

        <div class="pagination" style="display: flex; justify-content: center">
          <el-pagination
            v-if="totalEntries > 0"
            :current-page="currentPage"
            :page-sizes="[10, 20, 30, 50]"
            :page-size="10"
            :total="totalEntries"
            @current-change="goToPage"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
import { Search } from "@element-plus/icons-vue";
import NavBar from "@/components/NavBar.vue";
import { serverAddr } from "@/networkConfig";
import NoData from "@/views/NoData.vue";

const input = ref("");
export default {
  components: { NavBar, NoData },
  data() {
    // Define profession options
    const professionOptions = [
      { value: "Retail Investor", label: "Retail Investor" },
      { value: "Broker", label: "Broker" },
      { value: "Market Expert", label: "Market Expert" },
      { value: "Analyst", label: "Analyst" },
      { value: "Financial Advisor", label: "Financial Advisor" },
    ];

    return {
      tableData: [],
      searchQuery: "",
      currentPage: 1,
      totalEntries: 0,
      selectedProfession: "",
      professionOptions,
      is_tableData_loading: false,
      selectedDateRange: [],
      // selectedStartDate: null,
      // selectedEndDate: null,
      pickerOptions: {
          shortcuts: [{
            text: 'Last week',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: 'Last month',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: 'Last 3 months',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
    };
  },

  computed: {
    // filteredTableData() {
    //   const start = (this.currentPage - 1) * 10;
    //   const end = start + 10;
    //   return this.tableData.slice(start, end).filter((row) => {
    //     const byPlanName = row.plan__name
    //       .toLowerCase()
    //       .includes(this.filterKeyword.toLowerCase());
    //     const byProfession =
    //       !this.selectedProfession ||
    //       row.profession === this.selectedProfession;
    //     return byPlanName && byProfession;
    //   });
    // },
  },

  watch: {
    selectedProfession() {
      this.currentPage = 1; // Reset to first page when profession changes
      this.getUserData(); // Fetch data for the new page
    },
    selectedDateRange() {
      this.getUserData(); // Fetch data when date range changes
    },
  },

  mounted() {
    this.getUserData();
  },
  methods: {
    getUserData() {
      this.is_tableData_loading = true; // Start the loading animation

      var url = "";
      if (this.selectedProfession.length) {
        url = `user/admin/v1/user_profile_data?page_number=${this.currentPage}&page_per_entries=10&profession=${this.selectedProfession}&q=${this.searchQuery}`;
      } else {
        url = `user/admin/v1/user_profile_data?page_number=${this.currentPage}&page_per_entries=10&q=${this.searchQuery}`;
      }

      // Append date range to URL if selected
      if (this.selectedDateRange && this.selectedDateRange.length === 2) {
        const startDate = this.selectedDateRange[0].toISOString().split('T')[0];
        const endDate = this.selectedDateRange[1].toISOString().split('T')[0];
        url += `&joining_date_start=${startDate}&joining_date_end=${endDate}`;
      }

      serverAddr
        .get(url)
        .then((response) => {
          console.log(response.data);
          this.tableData = response.data.data;
          this.totalEntries = response.data.pagination_dict.total_entries;
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => {
          this.is_tableData_loading = false; // close the loading animation
        });
    },

    goToPage(page) {
      console.log(page);
      this.currentPage = page;
      this.getUserData(); // Fetch data for the new page
    },
  },
};
</script>

<style scoped>
.body {
  background-color: rgb(123, 116, 116);
  font-family: "Poppins", sans-serif;
}

.UserManagement {
  border-radius: 15px;
  border-spacing: 0;
  margin-top: 85px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 5px 20px 20px 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  /* height: 650px; */
}

.input {
  margin-left: 0px;
}

.table-row {
  border-bottom: 1px solid #e0e0e0;
}

.table-row:hover {
  background-color: #f0f0f0;
}
.icon {
  cursor: pointer;
  margin-left: 5px;
}

thead {
  height: 40px;
  background-color: rgb(240, 235, 243);
  margin-bottom: 50px;
  margin: 0px;
}

th {
  padding-left: 10px;
  padding-right: 20px;
}

td {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 13px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  border-bottom: 1px solid #e0e0e0;
  padding: 8px;
}

table tr:last-child td,
table tr:last-child th {
  border-bottom: none;
}
.line {
  border-bottom: 3px solid rgb(243, 233, 242);
  border-top: 3px solid rgb(243, 233, 242);
  margin-bottom: 10px;
  margin-top: 10px;
  /* height: 460px; */
}

.loader {
  align-content: center;
  align-items: center;
  margin-left: 40%;
  margin-right: 40%;
}
.loader img {
  height: 100px;
  width: 100px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.select-filter,
.input-filter {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .filter-container {
    flex-direction: column;
  }

  .select-filter,
  .input-filter {
    width: 100%;
    margin-left: 0; /* Adjust as needed */
  }
}
@media screen and (max-width: 768px) {
  .table-responsive {
    overflow-x: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  th,
  td {
    white-space: nowrap;
  }
  th {
    background-color: #f2f2f2;
  }
  th,
  td {
    padding: 8px;
  }
}
</style>
