<template>
  <div class="navbar">
    <div
      class="mobile-menu"
      type="primary"
      style="margin-left: 16px; font-size: 22px;"
      @click="drawer = true"
    >
      <el-icon><Expand /></el-icon>
    </div>

    <img
      src="../../src/assets/stockantsLogo.png"
      alt="StockAnts-Logo"
      class="logo"
      style="width:160px; height:50px; margin-top:4px; margin-left:10px; margin-bottom:5px"
    />

    <div class="desktop-nav">
      <el-container>
        <el-header>
          <el-menu mode="horizontal">
            <el-menu-item v-if="showSidebar" index="sidebar">
              <Sidebar :clickedNavItem="clickedNavItem" />
            </el-menu-item>

            <el-menu-item index="dashboard">
              <router-link to="/dashboard" class="el-menu-item"
                >DASHBOARD</router-link
              >
            </el-menu-item>

            <el-menu-item index="hotcontrols">
              <router-link to="/hotcontrols" class="el-menu-item"
                >HOTCONTROLS</router-link
              >
            </el-menu-item>

            <el-sub-menu index="management">
              <template #title>
                <span class="submenu-title">MANAGEMENT</span>
              </template>
              <el-menu-item
                index="user-management"
                @click="redirectToUserManagement"
              >
                <span>USER MANAGEMENT</span>
              </el-menu-item>
              <el-menu-item
                index="plan-management"
                @click="redirectToPlanManagement"
              >
                <span>PLAN MANAGEMENT</span>
              </el-menu-item>
            </el-sub-menu>

            <div class="right-section">
              <div class="nav-item dropdown-parent">
                <div class="user-profile">
                  <div class="username">{{ userProfile.full_name }}</div>
                  <div class="avatar" @click="toggleProfileDropdown">
                    {{ userProfile.full_name[0] }}
                  </div>
                  <div class="dropdown" v-show="showProfileDropdown">
                    <div class="dropdown-item" @click="logout">Logout</div>
                  </div>
                </div>
              </div>
            </div>
          </el-menu>
        </el-header>
      </el-container>
    </div>
    <!-- <Sidebar :showSidebar="showSidebar" @sidebar-toggled="handleSidebarToggle" /> -->

    <el-drawer
      class="mobile-nav"
      v-model="drawer"
      title="Drawer Title"
      :with-header="false"
      direction="ltr"
      size="260px"
    >
      <el-menu>
        <el-menu-item index="logo" style="margin-bottom:0px">
          <router-link to="/dashboard">
            <img
              class="logo"
              src="../../src/assets/stockantsLogo.png"
              alt="StockAnts-Logo"
            />           
          </router-link>
          <hr />
        </el-menu-item>
        <el-menu-item index="hotcontrols" @click="closeDrawer">
          <router-link to="/hotcontrols" class="el-menu-item"
            >HOTCONTROLS</router-link
          >
        </el-menu-item>
        <hr />
        <el-menu-item index="dashboard" @click="closeDrawer">
          <router-link to="/dashboard" class="el-menu-item"
            >DASHBOARD</router-link
          >
        </el-menu-item>
        <hr />

        <el-sub-menu index="management">
          <template #title>
            <span class="submenu-title" @click="closeDrawer">MANAGEMENT</span>
          </template>
          <el-menu-item
            index="user-management"
            @click="redirectToUserManagement"
          >
            <span>USER MANAGEMENT</span>
          </el-menu-item>
          <el-menu-item
            index="plan-management"
            @click="redirectToPlanManagement"
          >
            <span>PLAN MANAGEMENT</span>
          </el-menu-item>
        </el-sub-menu>
      </el-menu>
    </el-drawer>
  </div>
</template>

<script>
import { serverAddr } from "@/networkConfig";
import router from "@/router";
import { ElMessage } from "element-plus";
import { ArrowDown } from "@element-plus/icons-vue";
import Sidebar from "@/views/Sidebar.vue";

export default {
  name: "NavBar",
  props: ["clickedNavItem"],

  components: {
    // MobileNav,
    Sidebar,
  },

  data() {
    return {
      showProfileDropdown: true,
      userProfile: localStorage.getItem('profileData') ? JSON.parse(localStorage.getItem('profileData')) : {},
      showMobileNav: false,
      showSidebar: false,
      windowWidth: window.innerWidth,

      drawer: false,
    };
  },

  computed: {
    isLoginPage() {
      return this.$route.path === "/login";
    },
  },

  mounted() {
    window.addEventListener("resize", this.resizeHandler);
  },

  beforeDestroy() {
    window.removeEventListener("resize", this.resizeHandler);
  },

  methods: {
    toggleProfileDropdown() {
      this.showProfileDropdown = !this.showProfileDropdown;
    },

    toggleSidebar() {
      this.showSidebar = !this.showSidebar;
    },
    handleSidebarToggle(isCollapse) {
      this.showSidebar = !isCollapse;
    },

    resizeHandler() {
      this.windowWidth = window.innerWidth;
    },

    closeDrawer() {
      this.drawer = false;
    },
    redirectToUserManagement() {
      this.$router.push("/user-management");
      this.closeDrawer();
    },
    redirectToPlanManagement() {
      this.$router.push("/plan-management");
      this.closeDrawer();
    },
  },

  methods: {
    toggleProfileDropdown() {
      this.showProfileDropdown = !this.showProfileDropdown;
    },

    toggleSidebar() {
      this.showSidebar = !this.showSidebar;
    },

    redirectToUserManagement() {
      this.$router.push("/user-management");
    },

    redirectToPlanManagement() {
      this.$router.push("/plan-management");
    },

    async logout() {
      try {
        const refresh_token = localStorage.getItem("refresh_token");
        if (!refresh_token) {
          console.error("Refresh token not found in local storage");
          return;
        }

        const response = await serverAddr.post(
          "/admin_dashboard/admin_logout",
          { refresh_token }
        );

        console.log(response.data);
        if (response.data.status) {
          localStorage.removeItem("refresh_token");
          router.push({ name: "LogIn" });
          console.log("Logout successful");
          alert("Logout successful");
        } else {
          console.error("Logout failed");
        }
      } catch (error) {
        console.error("Error during logout:", error);
      }
    },

    handleCommand(command) {
      switch (command) {
        case "a":
          console.log("Action 1 executed");
          break;
        case "b":
          console.log("Action 2 executed");
          break;
        default:
          break;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  background: #ffff;
  top: 0;
  height: 60px;
  z-index: 11;

  .mobile-menu {
    margin-top: 20px;
    display: none;
  }
}

header.el-header {
  padding: 0;
}

.left-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 160px;
  margin-right: 60px;
}

.right-section {
  display: flex;
  align-items: center;
  position: fixed;
  right: 0;
  top: 14px;
  /* margin-left: 800px; */
}
.user-profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.username {
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
  color: #495057;
}
.username:hover {
  color: red;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(160,94,177);
  color: white;
  cursor: pointer;
  margin-right: 20px;
}
  // .avatar:hover {
  //   background-color: red;
  // }

.dropdown {
  position: absolute;
  width: 60px;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
  padding: 10px;
  padding-left: 20px;
  margin-top: 1px;
  z-index: 10;
}

.dropdown-item {
  margin-bottom: 5px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: small;
  color: #777;
}

.dropdown-item:hover {
  color: red;
}

.dropdown-parent {
  position: relative;
}

.nav-item.dropdown-parent:hover .dropdown {
  display: block;
}

.show {
  display: block;
}

.el-menu-item {
  background-color: transparent;
  border: none;
  font-size: 0.7rem;
  font-weight: bold;
  color: #495057;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  white-space: normal !important;
}

.submenu-title {
  font-size: 0.7rem;
  font-weight: bold;
}
.submenu-title:hover {
  color:red
}
.submenu-title-el-menu-item:hover {
  color: red;
}
.el-menu-item:hover {
  background-color: transparent !important;
}
.el-container {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 2;
}



/* Sidebar visibility */
@media (max-width: 1000px) {
  .navbar {
    .desktop-nav {
      display: none;
    }
    .mobile-menu {
      display: block;
    }
  }
  .menu-icon {
    display: block;
  }

  .el-header {
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  .sidebar {
    transform: translateX(0);
  }
}

/* Mobile View */
@media (max-width: 768px) {
  .logo img {
    margin-right: 0;
  }

  .el-header {
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 20px;
  }

  .right-section {
    margin-left: 0;
  }

  .dropdown {
    position: static;
    width: auto;
    box-shadow: none;
    margin-top: 0;
    background-color: transparent;
  }

  .sidebar {
    transform: translateX(-100%);
  }

  .showSidebar .sidebar {
    transform: translateX(0);
  }
}
</style>
<style lang="scss">
.navbar {
  .el-menu--horizontal.el-menu {
    border-bottom: none;
  }
  .el-drawer__body {
    padding: 0px;
    width:260px
  }

  .el-menu-item {
    padding-left: 10px;
    padding-right:10px
  }
  .el-menu-item:hover {
  color: red !important;
}
}
</style>
