<template>
    <div class="PageNotFound">
     <img src="../assets/oops.jpeg" alt="">
     <!-- <img src="../assets/pageNotfound.webp" alt=""> -->
    </div>
 </template>
 
 <script>
 export default {
     name: "PageNotFound "
 }
 </script>
 
 <style scoped>
 
    .PageNotFound {
     padding:20% ;
    }
    .img{
       padding:300px;
       align-content: center;
    }
 
   
 </style>