
<template>
  <div>
    <header class="navbar">     
    </header>
    <main>

      <router-view></router-view>
    </main>
  </div>
</template>

<style scoped>
#app {
  font-family: 'Poppins', sans-serif;
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #777;
  margin: 0px;
  padding: 0px;
  font-size: small;
}
body {
  /* background-color: rgb(236,239,244);  */
  background-color: rgb(246,248,251); 
  margin:0px;
  /* font-family: sans-serif, monteserrat; */
  font-family: 'Poppins', sans-serif;
}

</style>
